<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?define APP_NAME="FaceParse"?>
	<?define GUI_TargetDir=$(var.GUI.TargetDir)?>

    <Product Id="*" Name="UAI - Face Parsing" Language="1033" Version="1.0.0.0" Manufacturer="UAI" UpgradeCode="da3f1537-3b94-4d06-be8c-28084fe97eb2">
		<Package InstallScope="perMachine" InstallerVersion="200" Compressed="yes" Platform="x64"  />
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		<Icon Id="UAIBrainServer" SourceFile="UAIBrainServer.ico" />

		<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

		<MediaTemplate EmbedCab="yes" />

		<?include InstallationStages.wxi?>


			<Feature Id="MainFeature" Title="UAI - Face Parser" Level="1">

				<ComponentGroupRef Id="Components_UAIMODULE"/>


<ComponentGroupRef Id="Components_native_12437891"/>
<ComponentGroupRef Id="Components_model_39ed2846"/>

				
        </Feature>
		<ComponentGroup Id="Components_UAIMODULE">
<Component Id="GUI.Microsoft.Extensions.Configuration.dll_33b510c7" Guid="9f1eb416-70e8-4225-b430-42a8c47637d3" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Configuration.dll_33b510c7" Name="Microsoft.Extensions.Configuration.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Configuration.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Configuration.Binder.dll_cb804614" Guid="cc811819-2997-4311-8f79-44d331b73601" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Configuration.Binder.dll_cb804614" Name="Microsoft.Extensions.Configuration.Binder.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Configuration.Binder.dll" />
    
</Component>
<Component Id="GUI.CommandLine.dll_a0e92c5f" Guid="5dab66f8-9831-42ee-ac01-f621cd50152d" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.CommandLine.dll_a0e92c5f" Name="CommandLine.dll" Source="$(var.GUI_TargetDir)CommandLine.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Configuration.CommandLine.dll_a9b7b099" Guid="05bfaecf-83dd-4ccb-a9af-2654f036184a" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Configuration.CommandLine.dll_a9b7b099" Name="Microsoft.Extensions.Configuration.CommandLine.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Configuration.CommandLine.dll" />
    
</Component>
<Component Id="GUI.Emgu.CV.dll_8c192c49" Guid="b5188748-dcde-4c78-973e-1b88a1eb79b2" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Emgu.CV.dll_8c192c49" Name="Emgu.CV.dll" Source="$(var.GUI_TargetDir)Emgu.CV.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Configuration.Abstractions.dll_13615365" Guid="7bfdada8-abb4-4c00-9157-eb79540b7def" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Configuration.Abstractions.dll_13615365" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Configuration.FileExtensions.dll_bea7adb0" Guid="eef73d36-6dea-478b-bd71-089d02b66709" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Configuration.FileExtensions.dll_bea7adb0" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Configuration.FileExtensions.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Configuration.EnvironmentVariables.dll_5b1fa1aa" Guid="03491fba-ad1e-405c-9154-fa9b243d3e8f" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Configuration.EnvironmentVariables.dll_5b1fa1aa" Name="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Configuration.Json.dll_2e67ebde" Guid="ce854265-cd5d-4f1d-a81e-798f3e3d9f70" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Configuration.Json.dll_2e67ebde" Name="Microsoft.Extensions.Configuration.Json.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Configuration.Json.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Configuration.UserSecrets.dll_5b1cdebb" Guid="e1e27474-adb8-4e9a-b55f-df4b277e6a21" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Configuration.UserSecrets.dll_5b1cdebb" Name="Microsoft.Extensions.Configuration.UserSecrets.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Configuration.UserSecrets.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.DependencyInjection.dll_c3913201" Guid="0e1479a6-188e-49f8-b648-5d9ba9b0e7de" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.DependencyInjection.dll_c3913201" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.DependencyInjection.Abstractions.dll_c4ce7e75" Guid="092ba8f0-25f4-4d8d-a9ca-dfcb9337ac6b" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.DependencyInjection.Abstractions.dll_c4ce7e75" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Diagnostics.dll_553b3c9b" Guid="fcef8e30-11b3-4382-b3d5-6854771fda48" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Diagnostics.dll_553b3c9b" Name="Microsoft.Extensions.Diagnostics.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Diagnostics.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Diagnostics.Abstractions.dll_f1e01404" Guid="fd990edb-504b-499d-918c-278168d600b0" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Diagnostics.Abstractions.dll_f1e01404" Name="Microsoft.Extensions.Diagnostics.Abstractions.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Diagnostics.Abstractions.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.FileProviders.Abstractions.dll_472a5369" Guid="0cc35e58-64f6-45b5-bed2-30dd77058c3e" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.FileProviders.Abstractions.dll_472a5369" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.FileProviders.Abstractions.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.FileProviders.Physical.dll_38b6d928" Guid="6f763613-c4e0-40c5-be17-5e3239f28739" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.FileProviders.Physical.dll_38b6d928" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.FileProviders.Physical.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.FileSystemGlobbing.dll_a4cb3591" Guid="29b7f1a2-98a7-44ab-a038-cc1754d8376f" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.FileSystemGlobbing.dll_a4cb3591" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.FileSystemGlobbing.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Hosting.dll_268c79c1" Guid="f22c7542-94a6-4fb2-8212-905cc7218c48" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Hosting.dll_268c79c1" Name="Microsoft.Extensions.Hosting.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Hosting.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Hosting.Abstractions.dll_7c415a9a" Guid="b7d5f446-cb72-4e67-bcaf-65c2fbc5a593" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Hosting.Abstractions.dll_7c415a9a" Name="Microsoft.Extensions.Hosting.Abstractions.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Hosting.Abstractions.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Logging.dll_6de6cae5" Guid="4caf8a94-5dd1-4420-96e1-502857a520e7" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Logging.dll_6de6cae5" Name="Microsoft.Extensions.Logging.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Logging.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Logging.Abstractions.dll_717ae06e" Guid="9cf77d08-37a1-451d-9500-611d3ace7af3" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Logging.Abstractions.dll_717ae06e" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Logging.Configuration.dll_a4602236" Guid="1f23e5a5-515a-4d7a-8ee5-87a20d733c67" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Logging.Configuration.dll_a4602236" Name="Microsoft.Extensions.Logging.Configuration.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Logging.Configuration.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Logging.Console.dll_6ed8b42d" Guid="88a2d896-ae89-4243-bbf5-505ed6e916c9" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Logging.Console.dll_6ed8b42d" Name="Microsoft.Extensions.Logging.Console.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Logging.Console.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Logging.Debug.dll_e794acc5" Guid="40e3a083-8caf-467f-a8f9-75a2215bbb0d" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Logging.Debug.dll_e794acc5" Name="Microsoft.Extensions.Logging.Debug.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Logging.Debug.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Logging.EventLog.dll_4b8ee7e9" Guid="a6608c1c-e90c-4a04-a9a4-50a84d55064d" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Logging.EventLog.dll_4b8ee7e9" Name="Microsoft.Extensions.Logging.EventLog.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Logging.EventLog.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Logging.EventSource.dll_654d7cee" Guid="4cfedab0-f5da-4540-8a74-2c711df3ae82" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Logging.EventSource.dll_654d7cee" Name="Microsoft.Extensions.Logging.EventSource.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Logging.EventSource.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Options.dll_a3825b5a" Guid="aa566a27-635e-494b-b4ed-165ca72085b9" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Options.dll_a3825b5a" Name="Microsoft.Extensions.Options.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Options.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Options.ConfigurationExtensions.dll_a54b4de2" Guid="942e03d1-0282-4de2-a566-f450cbf3c67c" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Options.ConfigurationExtensions.dll_a54b4de2" Name="Microsoft.Extensions.Options.ConfigurationExtensions.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
    
</Component>
<Component Id="GUI.Microsoft.Extensions.Primitives.dll_7fd26a03" Guid="ac565961-b821-4adf-a6e5-19d14db2b9ab" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.Extensions.Primitives.dll_7fd26a03" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.GUI_TargetDir)Microsoft.Extensions.Primitives.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.Core.dll_828bfdad" Guid="e7ed97fa-5c86-4701-8c3f-cee43e531779" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.Core.dll_828bfdad" Name="Microsoft.ML.Core.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.Core.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.Data.dll_08679d6b" Guid="7f01d98d-6eb3-43d1-9690-a035ec783863" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.Data.dll_08679d6b" Name="Microsoft.ML.Data.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.Data.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.KMeansClustering.dll_0c8421e2" Guid="9fcbaea0-2efc-46b8-be76-14c3c474450f" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.KMeansClustering.dll_0c8421e2" Name="Microsoft.ML.KMeansClustering.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.KMeansClustering.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.PCA.dll_5741ae73" Guid="3f4ce35e-8783-4587-918d-5fd464b429cb" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.PCA.dll_5741ae73" Name="Microsoft.ML.PCA.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.PCA.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.StandardTrainers.dll_7b422eb8" Guid="8b9bcbc0-6c96-4ad0-9321-136b8b8f4b24" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.StandardTrainers.dll_7b422eb8" Name="Microsoft.ML.StandardTrainers.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.StandardTrainers.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.Transforms.dll_a93fce4a" Guid="450421ac-c674-40c3-8a0c-4f37bf80318d" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.Transforms.dll_a93fce4a" Name="Microsoft.ML.Transforms.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.Transforms.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.dll_c827ce7b" Guid="24343645-4fa2-49fa-a1ea-f77e43fc737a" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.dll_c827ce7b" Name="Microsoft.ML.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.DataView.dll_38103869" Guid="83e02e36-0dc1-4e82-8c15-2fb08bd98f64" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.DataView.dll_38103869" Name="Microsoft.ML.DataView.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.DataView.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.CpuMath.dll_68e1f338" Guid="58c16cce-1d38-4f9f-be10-6ac15af44fba" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.CpuMath.dll_68e1f338" Name="Microsoft.ML.CpuMath.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.CpuMath.dll" />
    
</Component>
<Component Id="GUI.Microsoft.ML.OnnxRuntime.dll_0f7c18ec" Guid="95460872-c166-4ceb-8d84-d47f48456231" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Microsoft.ML.OnnxRuntime.dll_0f7c18ec" Name="Microsoft.ML.OnnxRuntime.dll" Source="$(var.GUI_TargetDir)Microsoft.ML.OnnxRuntime.dll" />
    
</Component>
<Component Id="GUI.Newtonsoft.Json.dll_539513fc" Guid="6fbb5622-3c5d-4907-a046-74f7281dc9ee" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Newtonsoft.Json.dll_539513fc" Name="Newtonsoft.Json.dll" Source="$(var.GUI_TargetDir)Newtonsoft.Json.dll" />
    
</Component>
<Component Id="GUI.System.Diagnostics.EventLog.dll_5b0a11b6" Guid="db7b357d-cfe0-4138-a4db-2dab49a5d11a" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.System.Diagnostics.EventLog.dll_5b0a11b6" Name="System.Diagnostics.EventLog.dll" Source="$(var.GUI_TargetDir)System.Diagnostics.EventLog.dll" />
    
</Component>
<Component Id="GUI.System.Drawing.Common.dll_f1704997" Guid="0125319e-81b5-46ef-a51e-2c491bfd4e6a" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.System.Drawing.Common.dll_f1704997" Name="System.Drawing.Common.dll" Source="$(var.GUI_TargetDir)System.Drawing.Common.dll" />
    
</Component>
<Component Id="GUI.System.Numerics.Tensors.dll_24562125" Guid="70befb4d-3ee6-4d36-bbf0-b645f4e144d7" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.System.Numerics.Tensors.dll_24562125" Name="System.Numerics.Tensors.dll" Source="$(var.GUI_TargetDir)System.Numerics.Tensors.dll" />
    
</Component>
<Component Id="GUI.TinyEXR.NET.dll_8349f5b9" Guid="2a7f2be1-7a57-4150-a6f9-e91431f7eecd" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.TinyEXR.NET.dll_8349f5b9" Name="TinyEXR.NET.dll" Source="$(var.GUI_TargetDir)TinyEXR.NET.dll" />
    
</Component>
<Component Id="GUI.CLI.dll_e85be260" Guid="0822ba50-d6e9-4924-821f-4cfb61ab4509" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.CLI.dll_e85be260" Name="CLI.dll" Source="$(var.GUI_TargetDir)CLI.dll" />
    
</Component>
<Component Id="GUI.Module.dll_caf6d5e3" Guid="ba96de7a-27c1-4b83-8657-ed12c8b96eca" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Module.dll_caf6d5e3" Name="Module.dll" Source="$(var.GUI_TargetDir)Module.dll" />
    
</Component>
<Component Id="GUI.Module.pdb_6c6e891c" Guid="0b2f4229-d7fe-4d61-b41b-8dc717b800e7" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.Module.pdb_6c6e891c" Name="Module.pdb" Source="$(var.GUI_TargetDir)Module.pdb" />
    
</Component>
<Component Id="GUI.CLI.pdb_5b9102bf" Guid="bdf4c132-f28c-4026-8d7e-97fd3833a317" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.CLI.pdb_5b9102bf" Name="CLI.pdb" Source="$(var.GUI_TargetDir)CLI.pdb" />
    
</Component>
<Component Id="GUI.libusb_1.0.dll_e8414040" Guid="f20b2269-995d-4c49-a307-9b66bde0e40e" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.libusb_1.0.dll_e8414040" Name="libusb_1.0.dll" Source="$(var.GUI_TargetDir)libusb-1.0.dll" />
    
</Component>
<Component Id="GUI.UAIBrainServer.ico_d28e9900" Guid="ffaf9fcf-5f0c-46cf-970f-7662bf54b58c" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.UAIBrainServer.ico_d28e9900" Name="UAIBrainServer.ico" Source="$(var.GUI_TargetDir)UAIBrainServer.ico" />
    
</Component>
<Component Id="GUI.CLI.deps.json_06ca0f6f" Guid="0805363c-63c7-4b40-8ddb-06274e516049" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.CLI.deps.json_06ca0f6f" Name="CLI.deps.json" Source="$(var.GUI_TargetDir)CLI.deps.json" />
    
</Component>
<Component Id="GUI.CLI.runtimeconfig.json_5515f461" Guid="3efe2675-435f-48a6-8a52-6bf5e9a95de9" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.CLI.runtimeconfig.json_5515f461" Name="CLI.runtimeconfig.json" Source="$(var.GUI_TargetDir)CLI.runtimeconfig.json" />
    
</Component>
<Component Id="GUI.cvextern.dll_f8f195c9" Guid="83570796-b6c5-40b7-9f73-708b8e304eb0" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.cvextern.dll_f8f195c9" Name="cvextern.dll" Source="$(var.GUI_TargetDir)cvextern.dll" />
    
</Component>
<Component Id="GUI.opencv_videoio_ffmpeg490_64.dll_30a3fed2" Guid="7178feea-5011-4e65-91f1-86049f5a3d3e" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.opencv_videoio_ffmpeg490_64.dll_30a3fed2" Name="opencv_videoio_ffmpeg490_64.dll" Source="$(var.GUI_TargetDir)opencv_videoio_ffmpeg490_64.dll" />
    
</Component>
<Component Id="GUI.onnxruntime.dll_77b287ba" Guid="0bce083f-e420-4780-86e3-56270ec952da" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.onnxruntime.dll_77b287ba" Name="onnxruntime.dll" Source="$(var.GUI_TargetDir)onnxruntime.dll" />
    
</Component>
<Component Id="GUI.onnxruntime_providers_shared.dll_2cb403bc" Guid="2525e7a8-7487-4b47-a8db-442a523230d4" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.onnxruntime_providers_shared.dll_2cb403bc" Name="onnxruntime_providers_shared.dll" Source="$(var.GUI_TargetDir)onnxruntime_providers_shared.dll" />
    
</Component>
<Component Id="GUI.onnxruntime_providers_cuda.dll_a9699b5e" Guid="dfa2ce43-0c1a-42c2-b5c7-b15b6ce8e0bc" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.onnxruntime_providers_cuda.dll_a9699b5e" Name="onnxruntime_providers_cuda.dll" Source="$(var.GUI_TargetDir)onnxruntime_providers_cuda.dll" />
    
</Component>
<Component Id="GUI.CLI.exe_14c6b079" Guid="da9fe67b-6298-4062-9f16-65611841cfa8" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.CLI.exe_14c6b079" Name="CLI.exe" Source="$(var.GUI_TargetDir)CLI.exe" />
    
            <Shortcut Id="UAIFaceParserCLI_Shortcut_14c6b079" 
                    Name="UAI - CLI- Face Parser" 
                    Directory="ProgramMenuDir"
                    Target="[UAIMODULE]CLI.exe" 
                    WorkingDirectory="UAIMODULE" 
                    Icon="UAIBrainServer" />
                    
            <RemoveFolder Id="ProgramMenuDir115_14c6b079" Directory="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\UAI\FaceParserCLI" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
            
</Component>
<Component Id="GUI.onnxruntime_providers_tensorrt.dll_4f7d8b16" Guid="ffa4f1cd-5f77-4cd8-ac09-76c88290e241" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.onnxruntime_providers_tensorrt.dll_4f7d8b16" Name="onnxruntime_providers_tensorrt.dll" Source="$(var.GUI_TargetDir)onnxruntime_providers_tensorrt.dll" />
    
</Component>
<Component Id="GUI.GUI.deps.json_210c0c42" Guid="37599b12-3ded-4c68-8b08-1173aae3856b" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.GUI.deps.json_210c0c42" Name="GUI.deps.json" Source="$(var.GUI_TargetDir)GUI.deps.json" />
    
</Component>
<Component Id="GUI.GUI.runtimeconfig.json_b59cff91" Guid="b6f91e26-1b8f-4b7a-97ef-2a341cd84462" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.GUI.runtimeconfig.json_b59cff91" Name="GUI.runtimeconfig.json" Source="$(var.GUI_TargetDir)GUI.runtimeconfig.json" />
    
</Component>
<Component Id="GUI.GUI.exe_6dc7923a" Guid="501aadb8-b7bc-4150-8b7b-86e935208036" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.GUI.exe_6dc7923a" Name="GUI.exe" Source="$(var.GUI_TargetDir)GUI.exe" />
    
            <Shortcut Id="UAIFaceParserGUI_Shortcut_6dc7923a" 
                    Name="UAI - Face Parser" 
                    Directory="ProgramMenuDir"
                    Target="[UAIMODULE]GUI.exe" 
                    WorkingDirectory="UAIMODULE" 
                    Icon="UAIBrainServer" />
                    
            <RemoveFolder Id="ProgramMenuDir122_6dc7923a" Directory="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\UAI\FaceParserGUI" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
            
</Component>
<Component Id="GUI.GUI.dll_5d0d7883" Guid="b9027a0b-338d-4da5-99aa-34da801ec278" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.GUI.dll_5d0d7883" Name="GUI.dll" Source="$(var.GUI_TargetDir)GUI.dll" />
    
</Component>
<Component Id="GUI.GUI.pdb_0acd0576" Guid="fa771b0f-8145-4d9c-9112-2e04525b3711" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.GUI.pdb_0acd0576" Name="GUI.pdb" Source="$(var.GUI_TargetDir)GUI.pdb" />
    
</Component>
<Component Id="GUI.UAI_ONNX.dll_e9e7a921" Guid="078909ba-1126-45b4-b863-7646ecea7ce6" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.UAI_ONNX.dll_e9e7a921" Name="UAI_ONNX.dll" Source="$(var.GUI_TargetDir)UAI_ONNX.dll" />
    
</Component>
<Component Id="GUI.PostBuild.bat_07799ec4" Guid="ce2d6ad2-9f20-49ba-95ca-fd76636439af" Directory="UAIMODULE" Win64="yes">
    <File Id="GUI.PostBuild.bat_07799ec4" Name="PostBuild.bat" Source="$(var.GUI_TargetDir)PostBuild.bat" />
    
</Component>
</ComponentGroup>


<ComponentGroup Id="Components_native_12437891">
<Component Id="GUI.LdaNative.dll_0e8d910b" Guid="a140d8db-b152-49cd-a291-1d4e5c3dff45" Directory="native_12437891" Win64="yes">
    <File Id="GUI.LdaNative.dll_0e8d910b" Name="LdaNative.dll" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\LdaNative.dll" />
    
</Component>
<Component Id="GUI.onnxruntime.dll_6f682ac9" Guid="5ee2243e-8820-48f1-9a9f-45027556ed89" Directory="native_12437891" Win64="yes">
    <File Id="GUI.onnxruntime.dll_6f682ac9" Name="onnxruntime.dll" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\onnxruntime.dll" />
    
</Component>
<Component Id="GUI.onnxruntime.lib_b170fc3c" Guid="0ca96cac-4ff8-4d61-ab13-39d337882f99" Directory="native_12437891" Win64="yes">
    <File Id="GUI.onnxruntime.lib_b170fc3c" Name="onnxruntime.lib" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\onnxruntime.lib" />
    
</Component>
<Component Id="GUI.onnxruntime_providers_shared.dll_948bb90d" Guid="01debb79-9348-4db1-aa32-46d07587edc7" Directory="native_12437891" Win64="yes">
    <File Id="GUI.onnxruntime_providers_shared.dll_948bb90d" Name="onnxruntime_providers_shared.dll" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\onnxruntime_providers_shared.dll" />
    
</Component>
<Component Id="GUI.onnxruntime_providers_shared.lib_7cf508de" Guid="3bc54821-8a1c-4e54-b83e-b5eee6ba82a2" Directory="native_12437891" Win64="yes">
    <File Id="GUI.onnxruntime_providers_shared.lib_7cf508de" Name="onnxruntime_providers_shared.lib" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\onnxruntime_providers_shared.lib" />
    
</Component>
<Component Id="GUI.onnxruntime_providers_cuda.dll_048a3fcb" Guid="46015605-04da-4772-bc5c-de0c6f60b7c0" Directory="native_12437891" Win64="yes">
    <File Id="GUI.onnxruntime_providers_cuda.dll_048a3fcb" Name="onnxruntime_providers_cuda.dll" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\onnxruntime_providers_cuda.dll" />
    
</Component>
<Component Id="GUI.onnxruntime_providers_cuda.lib_1288d102" Guid="0f29dd79-08a9-42e1-be2e-84d987868cec" Directory="native_12437891" Win64="yes">
    <File Id="GUI.onnxruntime_providers_cuda.lib_1288d102" Name="onnxruntime_providers_cuda.lib" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\onnxruntime_providers_cuda.lib" />
    
</Component>
<Component Id="GUI.onnxruntime_providers_tensorrt.dll_8d87af5e" Guid="cf3da2b5-0c79-4cf6-a102-b28545cb803f" Directory="native_12437891" Win64="yes">
    <File Id="GUI.onnxruntime_providers_tensorrt.dll_8d87af5e" Name="onnxruntime_providers_tensorrt.dll" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\onnxruntime_providers_tensorrt.dll" />
    
</Component>
<Component Id="GUI.onnxruntime_providers_tensorrt.lib_873324a4" Guid="671a091f-c5c0-47e5-a510-9d9baaa69d8c" Directory="native_12437891" Win64="yes">
    <File Id="GUI.onnxruntime_providers_tensorrt.lib_873324a4" Name="onnxruntime_providers_tensorrt.lib" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\onnxruntime_providers_tensorrt.lib" />
    
</Component>
<Component Id="GUI.TinyEXR.Native.dll_8fc83196" Guid="e81b2bb0-a61a-4ef4-bf5b-e85199b17ae7" Directory="native_12437891" Win64="yes">
    <File Id="GUI.TinyEXR.Native.dll_8fc83196" Name="TinyEXR.Native.dll" Source="$(var.GUI_TargetDir)runtimes\win-x64\native\TinyEXR.Native.dll" />
    
</Component>
</ComponentGroup>
<ComponentGroup Id="Components_model_39ed2846">
<Component Id="GUI.model.onnx_cc16a05a" Guid="5c70f8dd-a235-4018-84e7-c4354d184cde" Directory="model_39ed2846" Win64="yes">
    <File Id="GUI.model.onnx_cc16a05a" Name="model.onnx" Source="$(var.GUI_TargetDir)model\model.onnx" />
    
</Component>
<Component Id="GUI.model_quantized.onnx_c61bea44" Guid="262b7888-ec78-4e1d-9143-4b4bad644e97" Directory="model_39ed2846" Win64="yes">
    <File Id="GUI.model_quantized.onnx_c61bea44" Name="model_quantized.onnx" Source="$(var.GUI_TargetDir)model\model_quantized.onnx" />
    
</Component>
</ComponentGroup>

		<Property Id="WIXUI_INSTALLDIR" Value="UAIMODULE" />

		<Property Id="POWERSHELLVERSION">
			<RegistrySearch Id="POWERSHELLVERSION" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\3\PowerShellEngine" Name="PowerShellVersion" />
		</Property>

		<Property Id="POWERSHELLEXE">
			<RegistrySearch Id="POWERSHELLEXE" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell" Name="Path" />
		</Property>

		<Condition Message="You must have PowerShell 3.0 or higher.">
			<![CDATA[Installed OR (POWERSHELLEXE AND POWERSHELLVERSION >= "3.0")]]>
		</Condition>

		<Property Id="API_KEY" Value="xxxxxxxxxxxxxxxxxxxxx" Secure="yes">
			<RegistrySearch Id="RegSearch_API_KEY" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="API Key" Type="raw" />
		</Property>

		<CustomAction Id="SaveCmdLineValue_API_KEY" Property="CMDLINE_API_KEY" Value="[API_KEY]" Execute="firstSequence" />
		<CustomAction Id="SetFromCmdLineValue_API_KEY" Property="API_KEY" Value="[CMDLINE_API_KEY]" Execute="firstSequence" />
		<InstallUISequence>
			<Custom Action="SaveCmdLineValue_API_KEY" Before="AppSearch" />
			<Custom Action="SetFromCmdLineValue_API_KEY" After="AppSearch">
				<![CDATA[CMDLINE_API_KEY AND (CMDLINE_API_KEY <> "default value")]]>
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action="SaveCmdLineValue_API_KEY" Before="AppSearch" />
			<Custom Action="SetFromCmdLineValue_API_KEY" After="AppSearch">
				<![CDATA[CMDLINE_API_KEY AND (CMDLINE_API_KEY <> "default value")]]>
			</Custom>
		</InstallExecuteSequence>

		<Property Id="MY_INSTALL_LOCATION" Secure="yes">
			<RegistrySearch Id="RegSearch_MY_INSTALL_LOCATION" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="My install location" Type="raw" />
		</Property>

		<CustomAction Id="SaveCmdLineValue_MY_INSTALL_LOCATION" Property="CMDLINE_MY_INSTALL_LOCATION" Value="[MY_INSTALL_LOCATION]" Execute="firstSequence" />
		<CustomAction Id="SetFromCmdLineValue_MY_INSTALL_LOCATION" Property="MY_INSTALL_LOCATION" Value="[CMDLINE_MY_INSTALL_LOCATION]" Execute="firstSequence" />
		<InstallUISequence>
			<Custom Action="SaveCmdLineValue_MY_INSTALL_LOCATION" Before="AppSearch" />
			<Custom Action="SetFromCmdLineValue_MY_INSTALL_LOCATION" After="AppSearch">
				CMDLINE_MY_INSTALL_LOCATION
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action="SaveCmdLineValue_MY_INSTALL_LOCATION" Before="AppSearch" />
			<Custom Action="SetFromCmdLineValue_MY_INSTALL_LOCATION" After="AppSearch">
				CMDLINE_MY_INSTALL_LOCATION
			</Custom>
		</InstallExecuteSequence>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="MY_INSTALL_LOCATION" Name="UAI">

					<Directory Id="UAIMODULE" Name="$(var.APP_NAME)">
<Directory Id="runtimes_b6e0bc46" Name="runtimes">
<Directory Id="win_x64_9342728c" Name="win-x64">
<Directory Id="native_12437891" Name="native">
</Directory>
</Directory>
</Directory>
<Directory Id="model_39ed2846" Name="model">
</Directory>
</Directory>

				</Directory>
			</Directory>

			<!-- Define Start Menu folder structure -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="UAI" />
            </Directory>


		</Directory>


		<ComponentGroup Directory="UAIMODULE" Id="ProductComponentGroup">
			<Component Id="cmp_MyAppendScript_ps1" Win64="yes">
				<File KeyPath="yes" Source="MyAppendScript.ps1"></File>
			</Component>
			<Component Id="cmp_RegistryEntry_API_KEY" Guid="*" Win64="yes">
				<RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]">
					<RegistryValue KeyPath="yes" Type="string" Name="API Key" Value="[API_KEY]" />
				</RegistryKey>
			</Component>
			<Component Id="cmp_RegistryEntry_UAIMODULE" Guid="*" Win64="yes">
				<RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]">
					<RegistryValue KeyPath="yes" Type="string" Name="My install location" Value="[UAIMODULE]" />
				</RegistryKey>
			</Component>
				
			

		</ComponentGroup>

		<SetProperty Id="CA_AppendTextUsingPowerShell_FirstInstall" Before="CA_AppendTextUsingPowerShell_FirstInstall" Sequence="execute" Value="&quot;[POWERSHELLEXE]&quot; -NoLogo -NonInteractive -NoProfile -ExecutionPolicy Bypass -File &quot;[UAIMODULE]MyAppendScript.ps1&quot; -installationStage FirstInstall -propertyValue &quot;[API_KEY]&quot; -version &quot;[ProductVersion]&quot; -installLocation &quot;[UAIMODULE] &quot;" />

		<SetProperty Id="CA_AppendTextUsingPowerShell_Upgrading" Before="CA_AppendTextUsingPowerShell_Upgrading" Sequence="execute" Value="&quot;[POWERSHELLEXE]&quot; -NoLogo -NonInteractive -NoProfile -ExecutionPolicy Bypass -File &quot;[UAIMODULE]MyAppendScript.ps1&quot; -installationStage Upgrading -propertyValue &quot;[API_KEY]&quot; -version &quot;[ProductVersion]&quot; -installLocation &quot;[UAIMODULE] &quot;" />

		<SetProperty Id="CA_AppendTextUsingPowerShell_Uninstalling" Before="CA_AppendTextUsingPowerShell_Uninstalling" Sequence="execute" Value="&quot;[POWERSHELLEXE]&quot; -NoLogo -NonInteractive -NoProfile -ExecutionPolicy Bypass -File &quot;[UAIMODULE]MyAppendScript.ps1&quot; -installationStage Uninstalling -propertyValue &quot;[API_KEY]&quot; -version &quot;[ProductVersion]&quot; -installLocation &quot;[UAIMODULE] &quot;" />

		<SetProperty Id="CA_AppendTextUsingPowerShell_Maintenance" Before="CA_AppendTextUsingPowerShell_Maintenance" Sequence="execute" Value="&quot;[POWERSHELLEXE]&quot; -NoLogo -NonInteractive -NoProfile -ExecutionPolicy Bypass -File &quot;[UAIMODULE]MyAppendScript.ps1&quot; -installationStage Maintenance -propertyValue &quot;[API_KEY]&quot; -version &quot;[ProductVersion]&quot; -installLocation &quot;[UAIMODULE] &quot;" />

		<CustomAction Id="CA_AppendTextUsingPowerShell_FirstInstall" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" />
		<CustomAction Id="CA_AppendTextUsingPowerShell_Upgrading" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" />
		<CustomAction Id="CA_AppendTextUsingPowerShell_Uninstalling" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" />
		<CustomAction Id="CA_AppendTextUsingPowerShell_Maintenance" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" />

		<InstallExecuteSequence>
			<Custom Action="CA_AppendTextUsingPowerShell_FirstInstall" Before="InstallFinalize">FirstInstall</Custom>
			<Custom Action="CA_AppendTextUsingPowerShell_Upgrading" Before="InstallFinalize">Upgrading</Custom>
			<Custom Action="CA_AppendTextUsingPowerShell_Uninstalling" Before="RemoveFiles">Uninstalling</Custom>
			<Custom Action="CA_AppendTextUsingPowerShell_Maintenance" Before="InstallFinalize">Maintenance</Custom>
		</InstallExecuteSequence>

		<UI Id="MyWixUI_InstallDir">
			<UIRef Id="WixUI_InstallDir" />

			<DialogRef Id="MyCustomPropertiesDlg" />

			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="MyCustomPropertiesDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MyCustomPropertiesDlg" Order="1">1</Publish>
		</UI>

		<Feature Id="HelloWorldFeature">
			<ComponentGroupRef Id="ProductComponentGroup" />
		</Feature>

	</Product>
</Wix>